<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>

    <form action="">
      <input type="number" name="episode" id="" />
      <button>go</button>
    </form>

    <div class="btn-result">
      {{#each links}}
        <a class="btn-link" target="_blank" href="{{this.linkHref}}">

          <span id="btn-link">
            <p>{{this.provider}}</p>
          </span>
        </a>
      {{/each}}
    </div>

  </body>
</html>