<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/queries.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Anime Scrapper</h1>
      <h1 id="searchResult">Search results for {{animeName}}</h1>

      <form id="form" action="">
        <input
          class="search-box"
          type="text"
          name="anime"
          placeholder="Search for anime"
        />
        <button id="btn-form" type="submit">search</button>
      </form>

    </header>
    <div id="center" class="result container">

      {{#each links}}
        {{! <form action="/episode" method="get"> }}
        <div class="card">
          {{!-- <p>{{this.title}}</p> --}}
          <img src="{{this.imgSrc}}" />
          <p>
            <button disabled class="watch">Start watching</button>
          </p>
          <input type="hidden" name="anime" value="{{this.title}}" />
        </div>
        {{! </form> }}
      {{/each}}
    </div>

    <script src="js/app.js"></script>

  </body>

</html>