<html>
  <head>
    <meta charset="UTF-8" />
    <title>Search Results</title>
  </head>
  <body>
    <form action="">
      <input type="text" name="anime" />
      <button>go</button>
    </form>
    {{#each links}}

      <a href="{{this.linkHref}}"><img src="{{this.imgSrc}}" /> </a>
    {{/each}}
  </body>
</html>