* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}
.logo {
  font-size: 3.4rem;
  color: #fff;
  font-weight: 700;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  padding: 5.6rem;
  margin-bottom: 2.4rem;
}

form {
  align-self: center;
  justify-self: center;
}
h1 {
  align-self: center;
}
#searchResult {
  display: none;
  color: #aaa;
}
.search-box {
  border: none;
  background-color: #333;
  width: 30rem;
  height: 5rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem;
}

.search-box::placeholder {
  color: #fff;
  font-size: 1.6rem;
}

#btn-form {
  cursor: pointer;
  border: none;
  color: #333;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  width: 8rem;
  height: 5rem;
  transition: all 0.3s;
}

.result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.card img {
  border-radius: 9px;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.card {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  color: #fff;
  height: 40rem;
  width: 30rem;
  justify-content: center;
  box-shadow: inset 0px 0px 34px 0rem #9775fa;
  transition: all 0.3s;
  border-radius: 9px;
}

.card:hover {
  transform: translateY(-5px);
}

.watch {
  cursor: pointer;
  border: none;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  padding: 1.2rem 1.6rem;
  background-color: #9775fa;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.watch:hover {
  background-color: #161327;
}
#btn-link {
  width: 20rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
}

body {
  background-color: #2e294e;
}
#btn-link:hover {
  background-color: #aaa;
  transform: translatey(-5px);
}

a.btn-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
.btn-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
